:root{
    --greyBlue: rgb(156, 164, 199);
    --happyBlue: rgb(192, 204, 241);
    --postityellow: rgb(242, 243, 221);
    --bg-color: var(--happyBlue, blue);

    --sub-bg-color: rgba(211, 209, 209, 0.493);
    --project-color: rgb(246, 247, 238);
    
    
    --header-bg-color: rgb(238, 240, 233);
    --header-border: var(--greyBlue);

    --task-bg-color: rgb(217, 221, 238);
    --task-complete-color:  rgba(231, 241, 231, 0.877);
    --task-complete-border: rgba(20, 75, 20, 0.781);
    --editing-task-color: var(--happyBlue);

    --low-priority: rgba(162, 179, 233, 0.596);
    --med-priority: rgba(248, 238, 142, 0.596);
    --high-priority: rgba(233, 162, 162, 0.596);

    --translate-amount: 50px;

    padding: 0;
    margin: 0;
}

body{

    background-color: var(--happyBlue);
  
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3,h4,h5,p, ul, li{
    margin: 0;
    padding: 0;
    list-style: none;;
}


.test{
    background-color: rgba(192, 144, 144, 0.918);
    height: 200px;
    width: 200px;
    display: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px 10px 5px 5px;
}

.sub{
    
    height: 50%;
    width: 50%;
    background-color: rgba(8, 199, 24, 0.76);
    border-radius: 50%;
}





.task{
   
    border-radius: 10px;
    height: 300px;
    width: min(300px, 100%);
    box-shadow: 2px 2px 6px;
    padding: 10px;

    background-color: var(--task-bg-color, rgb(206, 214, 238));

    display: grid;
    position: fixed;
    z-index: 10;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "content content"
    "buttons deadline"
  
}

.task-deadline-complete{
    grid-area: deadline;
}


#task-corner{

    border-bottom: 50px solid rgba(231, 41, 41, 0.37);
    border-right: 50px solid transparent;

    position: absolute;
    right: 1%;
    z-index: 20;


}



.task-title-bar{
    display: grid;
    justify-content: space-between;
    grid-area: title;
    justify-items: center;

    grid-template-columns: 1fr 2fr 1fr;
}

.task-title{
    font-size: clamp(1rem, 32px, 2rem);
    text-align: center;
    justify-self: center;
}

.task-desc{
    grid-area: content;
}

#deadline-form-container{

    position: fixed;
    top: 20vh;
    display: grid;
    z-index: 10;
    justify-content: flex-start;

  
}

.task-deadline-container{
    grid-area: deadline;
    flex: 0;
    display: grid;
    flex-direction: column;
    align-items: end;
    justify-items: end;

    grid-template-columns: 2fr 1fr;

    grid-template-areas: 
    "header priority"
    "deadline editDeadline"

}



.task-deadline-header{
    grid-area: header;
}

#task-deadline-button{
    border: none;
    grid-area: editDeadline
}

.task-item .priority-button{
    grid-area: priority;
}

.task-deadline{
    grid-area: deadline;
}

#deadline-form{

    align-self: center;
    justify-self: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;

    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    height: 300px;
    width: min(400px, 100%);
    display: grid;
    padding: 10% 10% 0% 10%;
    grid-template-areas: 
    "label"
    "date"
    "time"
    "repeat"
    "buttons";
    

}
.form-input{
    margin-left: 10px;
}

.form-header{

    grid-area: label;

   
}

#date-label{

    grid-area: date;
}

#time-label{
    grid-area: time;
}

#form-date{

    grid-area: input;
}

#task-deadline-fieldset{
    grid-area: repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}  

.form-buttons{

    grid-area: buttons;
    display: flex;
    flex-direction: row-reverse;
}



.task-header{
    grid-row: 1 / 2;
}


.task-goal{
    grid-area: objective;
}


#content{
    background-color: var(--happyBlue, white);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
.blockscreen{
    pointer-events: none;
    background-color: rgb(238, 237, 237);
    opacity: .5;
}

.project{
    height: min(500px, 90%);
    width: min(600px, 95%);
    min-width: 300px;
    top: 20%;
    font-family: inter;
    display: flex;
    position: fixed;
    
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0;
    padding: 10px;
    z-index: 10;

    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 20px 5px var(--greyBlue)
    
    
    

}


.project-content{
    
    height: 90%;
    width: 98%;
    gap: 5px;
    display: grid;

    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(5, 1fr);

    grid-template-areas: 
    
    "title summary"
    "tasks tasks"
    "tasks tasks"
    "tasks tasks"
    "objective deadline";


}

.expand-content-btn{
    
}

.title-container{

    
    display: flex;
    justify-content: space-between;
    width: 90%;
   

}


.project-item{


    
}
.project-title-bar{

    grid-area: title;
}


.project-title{
    width: 98%;
    height: 100%;
 

   
    font-family: inter;
    font-size: 32px;

}

.project-desc{
    height: 100%;
    width: 98%;

    font-family: inter;
    grid-area: summary;

    overflow: auto;
   

}

.project-goal{
    width: 98%;
   

    grid-area: objective;
}

.edit-project-box, .edit-task-box{
    resize: none;
    
    max-width: 90%;

}

#project-container{
    position: fixed;
    display: none;
    background-color: rgba(238, 238, 238, 0.466);
    width: 100%;
    height: 100%;
   
}

.edit-task-box{

    background-color: var(--editing-task-color, grey);


}

#task-buttons{
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
}

#add-task-button{

    margin-top: 5px;
    width: 2rem;
    height: 2rem;
   
}

#add-task-button:hover{
   
    transform: scale(1.1);

}

#add-task-button:focus{
   
}

.deadline-container{
    display: grid;
    grid-area: deadline;
    
}

.deadline-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.deadline-header{
    grid-row: 1 / 2;
}

.tasks-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    grid-area: tasks;
}

.mini-task{
    background-color: var(--med-priority);
    display: flex;
    border: 1px solid black;
    width: 90%;
}

.mini-button{
    flex: 1;
    background-color: inherit;

}

#mini-sort{

    height: auto;
    width: 1.5rem;
}

.mini-title{
    border: none;
    
  
}


.mini-finish, .mini-delete{
    flex: 0;
    width: 2rem;
    text-align: center;
   
}


.task-list{

    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;

}

.project-card{
    
}


#modal-container{
    margin-top: 20vh;
    align-self: center;
    display: none;
    justify-content: center;
   
    position: fixed;
    z-index: 1;
    width: min(100vw, 380px);
    height: min(100vh, 500px);
     background-color: rgba(184, 135, 11, 0.082);
     
 }
 
 #add-modal{
     display: flex;
     
     align-self: center;
     justify-content: center;
     align-items: center;
     
     width: min(100vw, 340px);
     height: min(100vh, 480px);
 
  
 
     overflow: auto;
     border: 2px dashed var(--alt-card-border-color);
     border-radius: 5px;
     box-shadow: 2px 2px 5px;
     background-color: var(--card-border-color, #647431);
 
 }
 
 .add-content{
 
     width: min(100vh, 300px);
     height:  min(100vh, 450px);
 
     display: flex;
     flex-direction: column;
     background-color: var(--card-bg-color)
 }

 .project-button, .task-button{
    padding: 5px;
    font-size: clamp(1rem, 24px, 2rem);
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    fill: red;   
    opacity: .85;
}

.container-button:hover, .project-button:hover, .task-button:hover, .container-button:active, .project-button:active, .task-button:active {

    opacity: 1;
    transform: scale(1.1)

}

.button-bar{
    display: flex;
    justify-content: space-between;

    grid-area: buttons;
}

#project-button-bar{
    flex-direction: row-reverse;
}


.edit-button{

    
}




.delete-task{
    

 

}



.hidden{
    display: none;
}

.main-container{
    margin-top: 10%;
    width: 80%;
    height: 90%;

    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
   box-shadow: inset 1px 1px 10px 3px var(--greyBlue, lightgrey);

}

.workspace{
    justify-self: center;
    width: 100%;
  
    background-color: rgb(195, 210, 245);
    border-radius: 10px;
    gap: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

 }

 .content-button{
    height: auto;
    width: 3rem;

    justify-self: center;
 }


 
 .card-button{
    height: auto;
    width: 1.5rem;
    opacity: .5;
 }

 .card-button:hover{
    opacity: 1;
    transform: scale(1.1);
 }

 
 .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 200px;
    width: 100%;

    background-color: rgb(242, 243, 221);

    border-radius: 5px;
    box-shadow: 3px 3px 5px 5px var(--greyBlue);
    outline: 1px solid var(--greyBlue);
 }

 .card-button-bar{

    display: flex;
    justify-content: space-between;
    align-items: center;

   
 }

 .card-percent-container{
   
 }
 
 .card-percentage{
    text-align: center;
 }

 .card-completed > *{
    color: green;
    font-style: italic;
    font-weight: bold;
 }



 .card-button-bar > *{
   
 }

.card-deadline{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px dashed black;
}

.active-settings-button{



}



.blockproject, .blockproject > * > *{
    pointer-events: none;
    opacity: .5;
    
}



.priority-button{
    height: 1.5rem;
    width: 3rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}


.container-button{
    height: 1.5rem;
    width: 1.5rem;
}

#tasks-button{
    flex: 0;
   

}


.lowpriority{
    background-color: var(--low-priority, lightblue);
}

.medpriority{
    background-color: var(--med-priority, lightyellow);

}

.highpriority{
    background-color:var(--high-priority, lightsalmon);
}



.menu-container{
    position: fixed;
    z-index: 10;
    visibility: hidden;
    display: none;
    background-color: rgba(240, 236, 236, 0.863);
    border: 2px outset black;
    border-radius: 3px;
    padding: 2px;
    cursor: pointer;
    width: 150px;
    box-shadow: 1px 1px;

    display: flex;
}

.menu-header{
    opacity: 75%;
    font-style: italic;
    margin-left: auto;
}

#context-menu{
    display:flex;
    flex-direction: column;

}

.menu-item{

margin-bottom: 10px;

}

.menu-item:hover, .menu-item:focus{
    font-weight: bold;
}

#header{
    width: 100%;
    height: 100px;
    background-color: var(--header-bg-color, rgb(196, 181, 181));
    margin-bottom: 5px;
    border-bottom: 5px solid var(--header-bg-color, none);
    box-shadow: 2px 2px 5px var(--greyBlue)
    


}

.tab-container{
    display: flex;
    flex-direction: column;



}

.tab{

    width: 100%;
    display: flex;


}

.tooltip {


  
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {

    visibility: hidden;
    width: 120px;
    background-color: rgba(107, 106, 106, 0.753);
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
   
}

.settings-cog:focus, .settings-cog:active{

    transform: rotate(90%);



}


.settings-cog:hover{
    transform: rotate(90%)
}

.completed.mini-task{
    
    background-color: rgba(104, 245, 104, 0.795);
    
}


.completed > *{
  
   
    font-style: italic;
   
   
}

.completed > .mini-finish{
    background-image:  url(./img/minicheckmarked.svg);
  
}

/* disable editing task after completion */
.completed > * > #task-edit-button {
    opacity: 0;
    pointer-events: none;
}

.task.completed {

   background-color: var(--task-complete-color,  rgb(206, 214, 238));
   outline: 5px solid var(--task-complete-border, green)
  
}

.completed > .task-deadline-container{
    display: none;
}



#delete-task-screen{
    
    position: fixed;
    top: 20vh;
    display: grid;
    z-index: 10;

    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas: 
    "title title"
    ". ."
    "cancel confirm";


}

#delete-task-title{
    
    grid-area: title;
}

#delete-task-confirm{
    grid-area: confirm;
    justify-self: end;
}

#delete-task-cancel{
    grid-area: cancel;
}





.shift-right{
    transform:translateX(var(--translate-amount, 25px));
}

.shift-left{
    transform:translateX(-10rem);
}

/* disable content and lower opacity */

.disabled{
    opacity: .5;
    pointer-events: none;
}